BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMINS=123456789,987654321
DATABASE_URL=postgresql+asyncpg://user:password@host/dbname?ssl=require
SPREADSHEET_ID=YOUR_GOOGLE_SPREADSHEET_ID
SPREADSHEET_NAME=Dars jadvali 2025
GOOGLE_CREDENTIALS=credentials.json
SELENIUM_PAGE_LOAD_TIMEOUT=45
