aiogram==3.15.0
pydantic-settings==2.15.0
python-dotenv==1.2.3
SQLAlchemy==2.0.52
asyncpg==0.31.0
gspread==6.2.1
google-api-python-client==2.200.0
google-auth==2.57.1
selenium==4.48.0
beautifulsoup4==4.15.0
openpyxl==3.1.5
APScheduler==3.11.3
aiofiles==24.1.0
